<section>
	<div class="">
		<div>
			<img src="">
			<div class=""><h1><%= current_pass.user.fullname %></h1></div>
			<div class="">
				<h2 style="text-decoration: none; color: #000; margin: 0px;">
					<%= current_pass.email %>
				</h2>
			</div>
			<div class="">
				<b>Last Signed In on: </b>
				<h4 style="text-decoration: none; color: #000; margin: 0px; font-weight: 100; display: inline-block;">
					<%= current_pass.last_sign_in_at.strftime("%B %d, %Y")
					%>
				</h4>
			</div>
			<div class="">
				<div>
					<% if !@goals.blank? %>
					You have <%= pluralize @goals.size, "goal"%>
					<% else %>
					No goal created yet <%= link_to "create goal", :goal_new %> to get started.
					<% end %>

				</div>
			</div>

		</div>
	</div>
</section>
<section>
	<%= render :partial => 'goal/show'%>
</section> 

