<section>
	<div class="">
		<div>
			<img src="">
			<div class=""><h1><%= current_pass.user.fullname %></h1></div>
			<div class="">
				<div>
					<% if !@goals.blank? %>
					You have <%= pluralize @goals.size, "goal"%>
					<% else %>
					No goal created yet <%= link_to "create goal", :goal_new %> to get started.
					<% end %>

				</div>
			</div>

		</div>
	</div>
</section>
<section>
	<% if !@goals.blank? %>
	<table border="0" class="goals">
		<tr><td></td><th>Goal Name</th><th>Actions</th></tr>
		<% for goal in @goals %>
		<tr>
			<td><input type="checkbox"></td>
			<td><%= goal.title %></td>
			<td><%= link_to "details",show_goal_path(goal)  %> <%= link_to "edit" %> 
			<%= link_to "delete",
                      delete_goal_path(goal)%></td>
		</tr>
		<% end %>

	</table>
	<% else %>
	No goal created yet <%= link_to "create goal", :goal_new %> to get started.
	<% end %>
</section> 

