<h1>Create a new goal</h1>
<%= simple_form_for @goal, :url => { :controller => :goal, :action => :create } do |g| %>
<p>
  <strong><%= g.label :title %></strong><br>
  <%= g.text_field :title %>
</p>
<br>
<p>
  <strong><%= g.label :description %></strong><br>
  <%= g.text_area :description %>
</p>

<p>
  <%= g.submit %>
</p>

<% end %>