<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "bucket" %></title>

  <%= stylesheet_link_tag    "userpage" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <nav class="top-bar" >
    <%= link_to "Bucket List", :userpage_index, {:class => "title"} %>

    <div class="right user" data-topbar>
      <% if pass_signed_in? %>
      <a href="#" data-dropdown="drop1">Has Dropdown</a>
<ul id="drop1" class="f-dropdown" data-dropdown-content>
  <li><a href="#">This is a link</a></li>
  <li><a href="#">This is another</a></li>
  <li><a href="#">Yet another</a></li>
</ul>
<a href="#" data-dropdown="drop2">Has Content Dropdown</a>
<div id="drop2" data-dropdown-content class="f-dropdown content">
  <p>Some text that people will think is awesome! Some text that people will think is awesome! Some text that people will think is awesome!</p>
</div>
      <!-- <section class="top-bar-section spa">
        <ul>

          <li><img src="<%= Faker::Avatar.image("man", "40x40", "png")%>"></li>
          <li class="has-dropdown">
            <a href="#"><%= current_pass.user.fullname %></a>
            <ul class="dropdown">
              <li><%= link_to "User Profile" %></li>
              <li class=""><%= link_to :logout, :logout %></li>
            </ul>
          </li>
        </ul>
      </section> -->
      
      
      <% end %>
    </div>
  </nav>
  <div id="left-nav">
    <div>
      <%= link_to "New goal", :goal_new  %>
      <%= link_to "All goals", :goal_index%>
      <%= link_to "Favourited"%>
      <%= link_to "Done"%>
    </div>
  </div>
  <div id="right-content">
    <%= yield %>
  </div>
  <%= javascript_include_tag "userpage" %>
</body>
</html>