<!DOCTYPE html>
<html>
<head>
	<title>Project</title>
	<%= stylesheet_link_tag    'welcome', media: 'all', 'data-turbolinks-track' => true %>
	<%=javascript_include_tag "vendor/modernizr" %>
	<%= csrf_meta_tags %>
</head>
<body>

	<% if notice or alert %>
	<div class="">
		<% if notice %>
		<div data-alert class="alert-box success">
			<%= notice %>
			<a href="#" class="close">&times;</a>
		</div>
		<% end %>
		<% if alert %>
		<div data-alert class="alert-box alert">
			<%= alert %>
			<a href="#" class="close">&times;</a>
		</div>
		<% end %>
	</div>
	<% end %>
	<nav>
		<div class="row">
			<div class="left">
				<a href="" style="padding-left: 0px; padding-right: 0px;"><i class="icon-bucket" style=""></i></a>
				<%= link_to "Bucket List", root_path, {:class=>"title"} %>
			</div>
			<div class="right">
				<div class="nav">
					<%= link_to :Login, :login %> 
					<%= link_to "Sign Up", :register %>
					<%= link_to :About %>
				</div>
			</div>
		</div>
	</nav>
	<%= yield %>
	<footer>
		<div style="margin-bottom: 12px;">
			<i class="icon-facebook"></i>
			<i class="icon-twitter"></i>
		</div>
		<div>&copy; 2014</div>
	</footer>
	<%= javascript_include_tag 'welcome', 'data-turbolinks-track' => true %>
</body>
</html>
