<!DOCTYPE html>
<html>
<head>
	<title>Project</title>
	<%= stylesheet_link_tag    'welcome', media: 'all', 'data-turbolinks-track' => true %>
	<%=javascript_include_tag "vendor/modernizr" %>
	<%= javascript_include_tag 'welcome', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>

	<% if notice or alert %>
	<div class="">
		<% if notice %>
		<!-- <div data-alert class="alert-box success"> -->
		<!-- <%= notice %> -->
		<%= js add_gritter(flash[:notice], :time => 2000 , :title => "Pay attention!") %>
		<!-- <a href="#" class="close">&times;</a> -->
		<!-- </div> -->
		<% end %>
		<% if alert %>
		<!-- <div data-alert class="alert-box alert"> -->
		<!-- <%= alert %> -->
		<%= js add_gritter(flash[:alert], :time => 2000, :title => "Pay attention!") %>
		<!-- <a href="#" class="close">&times;</a> -->
		<!-- </div> -->
		<% end %>
	</div>
	<% end %>
	<nav>
		<div class="row">
			<div class="left">
				<a href="" style="padding: 0px;"><i class="icon-bucket" style=""></i></a>
				<%= link_to "Bucket List", root_path, {:class=>"title", :style=>"margin:0px;"} %>
			</div>
			<div class="right">
				<div class="nav">
					<% if !pass_signed_in? %>
					<%= link_to :Login, :login %> 
					<%= link_to "Sign Up", :register %>
					<% else %>
					Signed in as: <%= link_to current_pass.user.fullname, :user_path %>
					<% end %>
					<%= link_to :About %>
				</div>
			</div>
		</div>
	</nav>
	<%= yield %>
	<footer>
		<div style="margin-bottom: 12px;">
			<i class="icon-facebook"></i>
			<i class="icon-twitter"></i>
		</div>
		<div>&copy; 2014</div>
	</footer>
</body>
</html>
